{% extends "tr2_calculator_generic.html" %}

{% block navbar %}
{{ block.super }}
. <strong>Query<strong>
{% endblock navbar%}

{% block content %}
<form action="" method="GET">
    <select class="form-select" multiple="multiple" name="q">
        {% for lc in lc_list %}
        <option>{{ lc }}</option>
        {% endfor %}
    </select>
    <button class='btn btn-dark' type="submit">search</button>
</form>
<hr>
{% comment %} <h4>Criteria Table(TODO)</h4>
<table class="table text-center small table-hover">
    <thead>
        <th>Item</th>
        <td> Cell Gap (um)</td>
        <td> LC% </td>
        <td> ΔEab* </td>
        <td> RT(ms) </td>
        <td> CR </td>
    </thead>
    <tbody>
        <tr>
            <th>Criteria</th>
        </tr>
        <tr>
            <th>Venders</th>
        </tr>
    </tbody>
</table> {% endcomment %}
<hr>
{% if q %}
    <table class="table text-center small table-hover">
        <thead>
            <th>LC</th>
            <th>Designed Cell Gap</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for lc in q_lc_list %}
            <tr>
                <td>{{ lc.name }}</td>
                <td>{{ lc.designed_cell_gap }}</td>
                <td>
                    <a class="btn btn-dark"
                       href="{%url 'materials:update_lc_designed_cell_gap' slug=lc.name%}?next={{request.path}}">
                    Update
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p> LC Score Estimate(@V99):</p>
    <div>
        {{ div_fig | safe }}
    </div>
    <div class="table">
        {{ score_table | safe}}
    </div>
    <a class="btn btn-dark" href="{% url 'tr2_calculator:query-download' %}">Download</a>
    <hr>
    <a class="btn btn-dark" href="{% url 'index' %}">Advanced RA search</a>
    <hr />
{% endif %}
{% endblock content%}