{% extends "tr2_calculator_generic.html" %}

{% block navbar %}
{{ block.super }}
. <strong>Query<strong>
{% endblock navbar%}

{% block content %}
<form action="" method="GET">
    <select class="form-select" multiple="multiple" name="q">
        {% for lc in lc_list %}
        <option>{{ lc }}</option>
        {% endfor %}
    </select>
    <button class='btn btn-dark' type="submit">search</button>
</form>
<hr>
<h4>Criteria Table(TODO)</h4>
<table class="table text-center small table-hover">
    <thead>
        <th>Item</th>
        <td> Cell Gap (um)</td>
        <td> LC% </td>
        <td> ΔEab* </td>
        <td> RT(ms) </td>
        <td> CR </td>
    </thead>
    <tbody>
        <tr>
            <th>Criteria</th>
        </tr>
        <tr>
            <th>Venders</th>
        </tr>
    </tbody>
</table>
<hr>
{% if q %}
    <p> LC Score Estimate:</p>
    <div>
        {{ div_fig | safe }}
    </div>
    <div class="table">
        {{ score_table | safe}}
    </div>
    <a class="btn btn-dark" href="{% url 'tr2_calculator:query-download' %}">Download</a>
    <hr>
    <a class="btn btn-dark" href="{% url 'index' %}">Advanced RA search</a>
    <hr />
{% endif %}
{% endblock content%}