<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}
        <title>TD Toolkits</title>
        {% endblock %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
            crossorigin="anonymous"
        />
        
        <!-- Add additional CSS in static file -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <!-- reference your installed Font Awesome Free package's files here -->
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    </head>
    <body style="background-color: white;">
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <a class="navbar-brand">
                <span class="fas fa-tools"></span> TD Toolkits
            </a>
            <div class="mr-sm-2 notes">有問題請洽曾煒翔(550-23477)</div>
        </nav>
        <div class="container-fluid" style="margin-top: 100px;">
            <div class="row">
                <div class="col-sm-2">
                    {% block sidebar %}        
                    <a class="btn btn-link mt-1" href="{% url 'index' %}">RA Explorer</a></li>
                    <a class="btn btn-link mt-1" href="">TR2 Calculator</a>                    
                    {% endblock %}
                </div>
                <div class="col-sm-10" >{% block content %}{% endblock %}</div>
            </div>
        </div>
    </body>
</html>
