{% extends "base_generic.html" %}
{% block navbar %}
. <a class="navbar-brand me-0" href="{% url 'index' %}">RA Explorer</a>
. <strong>Batch Upload</strong>
{% endblock navbar%}
{% block content %}
{% if file_form.errors %}
<p style="color: red">
    Please correct the error{{ file_form.errors|pluralize }} below.
</p>
{% endif %}
<form action="{% url 'import_adhesion' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label>Adhesion</label>
    {{ file_form.as_table }}
    <input type="submit" value="submit" />
</form>

<form action="{% url 'import_lto' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label>LTO</label>
    {{ file_form.as_table }}
    <input type="submit" value="submit" />
</form>
<form action="{% url 'import_lts' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label>LTS</label>
    {{ file_form.as_table }}
    <input type="submit" value="submit" />
</form>
<form action="{% url 'import_deltaAngle' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label>Δangle</label>
    {{ file_form.as_table }}
    <input type="submit" value="submit" />
</form>
<form action="{% url 'import_vhr' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label>VHR</label>
    {{ file_form.as_table }}
    <input type="submit" value="submit" />
</form>
<form action="{% url 'import_pct' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label>PCT</label>
    {{ file_form.as_table }}
    <input type="submit" value="submit" />
</form>
<form action="{% url 'import_sealwvtr' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label>Seal WVTR</label>
    {{ file_form.as_table }}
    <input type="submit" value="submit" />
</form>
{% endblock content%}