{% extends "base_generic.html" %} 
{% block navbar %}
. <a class="navbar-brand me-0" href="{% url 'index' %}">RA Explorer</a>
. <strong>Filtered Results</strong>
{% endblock %}
{% block content %}
<a class="btn btn-dark" href="{% url 'filtered-result-download'%}">raw download</a>
<hr/>
<div>
    {{ plot_adhesion|safe }}
</div>
<div>
    {{ plot_lts|safe }}
</div>
<div>
    {{ plot_delta_angle|safe }}
</div>
<div>
    {{ plot_vhr|safe }}
</div>
<!-- <div>
    {{ plot_lto|safe }}
</div> -->
<div>
    {{ plot_pct|safe }}
</div>
<div>
    {{ plot_sealwvtr|safe }}
</div>

{% endblock %}