{% extends "base_generic.html" %} {% block content %}
<h1>RA Explorer</h1>
<hr />
<!-- <form method="post" action="{% url 'export_results_csv' %}">
    {% csrf_token %} {{ form.as_table }}
    <input type="submit" value="Search" />
</form>
<p>test</p> -->
<form method="post" action="{% url 'export_results_csv' %}">
    {% csrf_token %}
    <table>
        <thead style="text-align: center">
            <tr>
                <th>LC</th>
                <th>PI</th>
                <th>seal</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select multiple name="LC">
                        <option>ALL</option>
                        {% for LC in LCs %}
                        <option>{{ LC.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select multiple name="PI">
                        <option>ALL</option>
                        {% for PI in PIs %}
                        <option>{{ PI.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select multiple name="Seal">
                        <option>ALL</option>
                        {% for seal in seals %}
                        <option>{{ seal.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <input class="btn btn-dark m-3" type="submit" value="Search" />
                </td>
            </tr>
        </tbody>
    </table>
</form>
<br />
<h3>Valid Value</h3>
<table class="table text-center">
    <thead>
        <tr>
            <th>Adhesion(kgw)</th>
            <th>LTS(days)</th>
            <th>Δangle(°)</th>
            <th>VHR(%)</th>
            <th>LTO(低溫黑屏)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> > {{ valid_adhesion.value }}</td>
            <td> > {{ valid_LTS.value }}</td>
            <td> < {{ valid_delta_angle.value }}</td>
            <td> > {{ valid_VHR.value }}</td>
            <td>PASS</td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-dark" href="{% url 'valid-update' 'adhesion test' %}"
                    >update</a
                >
            </td>
            <td>
                <a class="btn btn-dark" href="{% url 'valid-update' 'LTS' %}">update</a>
            </td>
            <td>
                <a class="btn btn-dark" href="{% url 'valid-update' 'Δ angle' %}"
                    >update</a
                >
            </td>
            <td>
                <a class="btn btn-dark" href="{% url 'valid-update' 'VHR(heat)' %}"
                    >update</a
                >
            </td>
            <td>
                
            </td>
        </tr>
    </tbody>
</table>
<hr />
<h2>Upload Data</h2>
{% if file_form.errors %}
<p style="color: red">
    Please correct the error{{ file_form.errors|pluralize }} below.
</p>
{% endif %}
<form
    action="{% url 'import_adhesion' %}"
    enctype="multipart/form-data"
    method="post"
>
    {% csrf_token %}
    <label>Adhesion</label>
    {{ file_form.as_table }}
    <input type="submit" value="submit" />
</form>

<form
    action="{% url 'import_lto' %}"
    enctype="multipart/form-data"
    method="post"
>
    {% csrf_token %}
    <label>LTO</label>
    {{ file_form.as_table }}
    <input type="submit" value="submit" />
</form>
<form
    action="{% url 'import_lts' %}"
    enctype="multipart/form-data"
    method="post"
>
    {% csrf_token %}
    <label>LTS</label>
    {{ file_form.as_table }}
    <input type="submit" value="submit" />
</form>
<form
    action="{% url 'import_deltaAngle' %}"
    enctype="multipart/form-data"
    method="post"
>
    {% csrf_token %}
    <label>Δangle</label>
    {{ file_form.as_table }}
    <input type="submit" value="submit" />
</form>
<form
    action="{% url 'import_vhr' %}"
    enctype="multipart/form-data"
    method="post"
>
    {% csrf_token %}
    <label>VHR</label>
    {{ file_form.as_table }}
    <input type="submit" value="submit" />
</form>

{% endblock %}
