{% extends "base_generic.html" %}
{% block navbar %}
. <strong>RA Explorer</strong>
{% endblock %}
{% block content %}
<!-- <form method="post" action="{% url 'export_results_csv' %}">
    {% csrf_token %} {{ form.as_table }}
    <input type="submit" value="Search" />
</form>
<p>test</p> -->

<form method="post" action="{% url 'filtered-result' %}">
    {% csrf_token %}
    <table>
        <thead style="text-align: center">
            <tr>
                <th>LC</th>
                <th>PI</th>
                <th>seal</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select class="form-select" multiple="multiple" name="LC">
                        {% comment %} <option selected>N.A.</option> {% endcomment %}
                        {% for LC in LCs %}
                        <option>{{ LC }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select" multiple name="PI">
                        <option selected>ALL</option>
                        {% comment %} <option selected>N.A.</option> {% endcomment %}
                        {% for PI in PIs %}
                        <option>{{ PI.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select" multiple name="Seal">
                        <option selected>ALL</option>
                        {% comment %} <option selected>N.A.</option> {% endcomment %}
                        {% for seal in seals %}
                        <option>{{ seal.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <input class="btn btn-dark m-3" type="submit" value="Search" />
                </td>
            </tr>
        </tbody>
    </table>
</form>
<br />
<h4>Valid Value</h4>
<table class="table text-center table-responsive small">
    <thead>
        <tr>
            <th></th>
            <th>Adhesion(kgw)</th>
            <th>LTS(days)</th>
            <th>Δangle(°)</th>
            <th>VHR(%)</th>
            <th>PCT</th>
            <th>Seal WVTR</th>
            <th>LTO (低溫黑屏)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Critirial</th>
            <td>> {{ valid_adhesion.value }}</td>
            <td>> {{ valid_LTS.value }}</td>
            <td>
                < {{ valid_delta_angle.value }}</td> <td>> {{ valid_VHR.value }}
            </td>
            <td>> {{ valid_PCT.value }}</td>
            <td>> {{ valid_SealWVTR.value }}</td>
            <td> PASS </td>
        </tr>
        <tr>
            <th>Venders</th>
            <td>
                {% for vender in valid_adhesion.venders.values %}
                {{ vender.name }}
                {% endfor %}
            </td>
            <td>
                {% for vender in valid_LTS.venders.values %}
                {{ vender.name }}
                {% endfor %}
            </td>
            <td>
                {% for vender in valid_delta_angle.venders.values %}
                {{ vender.name }}
                {% endfor %}
            </td>
            <td>
                {% for vender in valid_VHR.venders.values %}
                {{ vender.name }}
                {% endfor %}
            </td>
            <td>{% for vender in valid_PCT.venders.values %}
                {{ vender.name }}
                {% endfor %}
            </td>
            <td>{% for vender in valid_SealWVTR.venders.values %}
                {{ vender.name }}
                {% endfor %}
            </td>
            <td>
                {% for vender in valid_LTO.venders.values %}
                {{ vender.name }}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Actions</th>
            <td>
                <a class="btn btn-dark" href="{% url 'valid-update' 'adhesion test' %}">update</a>
            </td>
            <td>
                <a class="btn btn-dark" href="{% url 'valid-update' 'LTS' %}">update</a>
            </td>
            <td>
                <a class="btn btn-dark" href="{% url 'valid-update' 'Δ angle' %}">update</a>
            </td>
            <td>
                <a class="btn btn-dark" href="{% url 'valid-update' 'VHR(heat)' %}">update</a>
            </td>
            <td>
                <a class="btn btn-dark" href="{% url 'valid-update' 'PCT' %}">update</a>
            </td>
            <td>
                <a class="btn btn-dark" href="{% url 'valid-update' 'Seal WVTR' %}">update</a>
            </td>
            <td>
                <a class="btn btn-dark" href="{% url 'valid-update' 'LTO' %}">update</a>
            </td>
        </tr>
    </tbody>
</table>
<hr />
<h4>Upload Data</h4>
{% if file_form.errors %}
<p style="color: red">
    Please correct the error{{ file_form.errors|pluralize }} below.
</p>
{% endif %}
<form action="{% url 'import_adhesion' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label>Adhesion</label>
    {{ file_form.as_table }}
    <input type="submit" value="submit" />
</form>

<form action="{% url 'import_lto' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label>LTO</label>
    {{ file_form.as_table }}
    <input type="submit" value="submit" />
</form>
<form action="{% url 'import_lts' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label>LTS</label>
    {{ file_form.as_table }}
    <input type="submit" value="submit" />
</form>
<form action="{% url 'import_deltaAngle' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label>Δangle</label>
    {{ file_form.as_table }}
    <input type="submit" value="submit" />
</form>
<form action="{% url 'import_vhr' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label>VHR</label>
    {{ file_form.as_table }}
    <input type="submit" value="submit" />
</form>
<form action="{% url 'import_pct' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label>PCT</label>
    {{ file_form.as_table }}
    <input type="submit" value="submit" />
</form>
<form action="{% url 'import_sealwvtr' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <label>Seal WVTR</label>
    {{ file_form.as_table }}
    <input type="submit" value="submit" />
</form>
{% endblock %}