{% extends "base_generic.html" %}
{% block navbar %}
. <strong>RA Explorer</strong>
{% endblock %}
{% block content %}

<form method="post" action="{% url 'filtered-result' %}">
    {% csrf_token %}
    <table>
        <thead style="text-align: center">
            <tr>
                <th>LC</th>
                <th>PI</th>
                <th>seal</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select class="form-select" multiple="multiple" name="LC">
                        {% if not opt_lc_list  %}
                        <option selected>ALL</option>
                        {% endif %}
                        {% for LC in LCs %}
                        <option
                        {% if opt_lc_list  %}
                            selected
                        {% endif %}
                        >{{ LC }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select" multiple name="PI">
                        <option selected>ALL</option>
                        {% comment %} <option selected>N.A.</option> {% endcomment %}
                        {% for PI in PIs %}
                        <option>{{ PI.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select class="form-select" multiple name="Seal">
                        <option selected>ALL</option>
                        {% comment %} <option selected>N.A.</option> {% endcomment %}
                        {% for seal in seals %}
                        <option>{{ seal.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <input class="btn btn-dark m-3" type="submit" value="Search" />
                </td>
            </tr>
        </tbody>
    </table>
</form>
<br />
<h4>Criteria Table</h4>
<div class="table-responsive">
<table class="table text-center small table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Adhesion(kgw)</th>
            <th>LTS(days)</th>
            <th>Δangle(°)</th>
            <th>VHR(%)</th>
            <th>PCT</th>
            <th>Seal WVTR</th>
            <th>LTO (低溫黑屏)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Criteria</th>
            <td>> {{ valid_adhesion.value }}</td>
            <td>> {{ valid_LTS.value }}</td>
            <td>
                < {{ valid_delta_angle.value }}</td> <td>> {{ valid_VHR.value }}
            </td>
            <td>> {{ valid_PCT.value }}</td>
            <td>> {{ valid_SealWVTR.value }}</td>
            <td> PASS </td>
        </tr>
        <tr>
            <th>Venders</th>
            <td>
                {% for vender in valid_adhesion.venders.values %}
                {{ vender.name }}
                {% endfor %}
            </td>
            <td>
                {% for vender in valid_LTS.venders.values %}
                {{ vender.name }}
                {% endfor %}
            </td>
            <td>
                {% for vender in valid_delta_angle.venders.values %}
                {{ vender.name }}
                {% endfor %}
            </td>
            <td>
                {% for vender in valid_VHR.venders.values %}
                {{ vender.name }}
                {% endfor %}
            </td>
            <td>{% for vender in valid_PCT.venders.values %}
                {{ vender.name }}
                {% endfor %}
            </td>
            <td>{% for vender in valid_SealWVTR.venders.values %}
                {{ vender.name }}
                {% endfor %}
            </td>
            <td>
                {% for vender in valid_LTO.venders.values %}
                {{ vender.name }}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Weight</th>
            <td> {{ valid_adhesion.weight }}</td>
            <td> {{ valid_LTS.weight }}</td>
            <td>{{ valid_delta_angle.weight }}</td>
            <td> {{ valid_VHR.weight }}</td>
            <td> {{ valid_PCT.weight }}</td>
            <td> {{ valid_SealWVTR.weight }}</td>
            <td> PASS </td>
        </tr>
        <tr>
            <th>Actions</th>
            <td>
                <a class="btn btn-dark" href="{% url 'valid-update' 'adhesion test' %}">update</a>
            </td>
            <td>
                <a class="btn btn-dark" href="{% url 'valid-update' 'LTS' %}">update</a>
            </td>
            <td>
                <a class="btn btn-dark" href="{% url 'valid-update' 'Δ angle' %}">update</a>
            </td>
            <td>
                <a class="btn btn-dark" href="{% url 'valid-update' 'VHR(heat)' %}">update</a>
            </td>
            <td>
                <a class="btn btn-dark" href="{% url 'valid-update' 'PCT' %}">update</a>
            </td>
            <td>
                <a class="btn btn-dark" href="{% url 'valid-update' 'Seal WVTR' %}">update</a>
            </td>
            <td>
                <a class="btn btn-dark" href="{% url 'valid-update' 'LTO' %}">update</a>
            </td>
        </tr>
    </tbody>
</table>
</div>
<hr />
<a href="{% url 'ra-batch-upload' %}" class='btn btn-dark'>Batch Upload</a>

{% endblock %}