body {
    background-color: lightgray;
    font-family: Verdana, 微軟正黑體, Geneva, Tahoma, sans-serif;
    /* background-image: url('img/light_bg.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 20px;
    position: relative;
}

#summarytable th {
    background-color: blue;
    color: white;
    text-align: left;
}

#dir {
    padding-top: 1rem;
    padding-right: 2rem;
}

body {
    position: relative;
}

ul.nav-pills {
    top: 100px;
    position: sticky;
}

/* just for testing */
/* main.col-9 div {
    height: 500px;
} */

/* Fix bookmark behavior */
:target:before {
    content: "";
    display: block;
    height: 100px;
    /* fixed header height*/
    margin: -100px 0 0;
    /* negative fixed header height */
}

/* counter setting */
article.list {
    counter-reset: section;
}

.list h2 {
    counter-reset: subsection;
}

.list h2::before {
    counter-increment: section;
    content: counter(section) ". ";
}

.list h3::before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
}

/* Paper ref style */
/* some attribute I still don't get it */
/* And I want to change to align at the end of counter */
.reference ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-gap: 1rem;
}

.reference li {
    counter-increment: ref-counter;
    display: grid;
    grid-template-columns: 0 1fr;
    grid-gap: 2rem;
    align-items: start;
    font-size: 1rem;
    line-height: 1.25;
}

.reference li::before {
    content: "[" counter(ref-counter) "]";
}
ul.nav-pills {
    top: 90px;
    position: fixed;
}

main.col-9 div {
    height: auto;
}

/* Fix bookmark behavior */
:target:before {
    content: "";
    display: block;
    height: 100px;
    /* fixed header height*/
    margin: -60px 0 0;
    /* negative fixed header height */
}
.notes {
    color: rgba(255, 255, 255, 0.774);
    font-size: 12px;
}

/* form  { display: table;}
p     {display: table-row;}
label {display: table-cell;}
input {display: table-cell;} */